@page
@using _2._semesterprojekttest.Models
@model _2._semesterprojekttest.Pages.AvailableRoutesModel
@{
}
<head>
    <style>
        tr:hover { 
            background: red; 
        }
        td a { 
            display: block; 
            border: 1px solid black;
        }
    </style>
</head>
<form>
    <p>
        Filter routes by drivers zipcode: <input type="text" asp-for="Filter" />
        <input type="submit" value="Filter" />
    </p>
</form>

<style>
    body { background-image: url('/Images/emptyprofile.png'); 
        background-repeat: no-repeat; 
        background-attachment: fixed;
        background-size: cover; }
</style>

<table class="table table-bordered table-striped">
    <thead class="table-primary">
    <th>Drivers address</th>
    <th>Start point</th>
    <th>End point</th>
    <th>Day</th>
    <th>Arrival time</th>
    <th>Seats left</th>
    <th></th>
    </thead>

    <tbody>
        @foreach (Route routes in Model.liste)
        {
            if (routes.Space > 0 && routes.UserId != Model.userID)
            {
        <tr >
        <td><a asp-page="Route" asp-route-id="@routes.RouteId">@Model.GetDriverAddress(routes.UserId).Address, @Model.GetDriverAddress(routes.UserId).Zipcode</a></td>
            <td><a asp-page="Route" asp-route-id="@routes.RouteId">@routes.Start</a></td>
            <td><a asp-page="Route" asp-route-id="@routes.RouteId">@routes.Goal</a></td>
            <td><a asp-page="Route" asp-route-id="@routes.RouteId">@Model.GetDay(routes.Day)</a></td>
            <td><a asp-page="Route" asp-route-id="@routes.RouteId">@routes.Arrival.ToString("t")</a></td>
        <td><a asp-page="Route" asp-route-id="@routes.RouteId">@(routes.Space-Model.OccupiedSpace(routes.RouteId))</a></td>
        <td><a asp-page="Route" asp-route-id="@routes.RouteId">Apply</a></td>
        </tr>
            }
        }
    </tbody>
</table>