@page
@using _2._semesterprojekttest.Models
@model _2._semesterprojekttest.Pages.AvailableRoutesModel
@{
}

<style>
    body { background-image: url('/Images/emptyprofile.png'); 
        background-repeat: no-repeat; 
        background-attachment: fixed;
        background-size: cover; }
</style>

<table class="table table-bordered table-striped">
    <thead class="table-primary">
    <th>Start point</th>
    <th>End point</th>
    <th>Arrival time</th>
    <th>Seats left</th>
    <th></th>
    </thead>

    <tbody>
        @foreach (Route routes in Model.liste)
        {
            if (routes.Space > 0 && routes.UserId != Model.userID)
            {
        <tr>
            <td>@routes.Start</td>
            <td>@routes.Goal</td>
            <td>@routes.Arrival.ToString("t")</td>
            <td>@routes.Space</td>
            <td><a asp-page="Route" asp-route-id="@routes.RouteId">Apply</a></td>
        </tr>
            }
        }
    </tbody>
</table>