@page
@using _2._semesterprojekttest.Models
@model _2._semesterprojekttest.Pages.AvailableRoutesModel
@{
}

<form>
    <p>
        Filter routes by drivers zipcode: <input type="text" asp-for="Filter" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table table-bordered table-striped">
    <thead class="table-primary">
    <th>Drivers address</th>
    <th>Start point</th>
    <th>End point</th>
    <th>Arrival time</th>
    <th>Seats left</th>
    <th></th>
    </thead>

    <tbody>
        @foreach (Route routes in Model.liste)
        {
            if (routes.Space > 0 && routes.UserId != Model.userID)
            {
        <tr>
        <td>@Model.GetDriverAddress(routes.UserId).Address, @Model.GetDriverAddress(routes.UserId).Zipcode</td>
        <td>@routes.Start</td>
        <td>@routes.Goal</td>
        <td>@routes.Arrival.ToString("t")</td>
        <td>@routes.Space</td>
        <td><a asp-page="Route" asp-route-id="@routes.RouteId">Apply</a></td>
        </tr>
            }
        }
    </tbody>
</table>