@page
@using _2._semesterprojekttest.Models
@model _2._semesterprojekttest.Pages.DriverRequestsModel
@{
}

@if (Model.SuccesAccept != null)
{
    <div class="bg-success">
        <h5>
            @Model.SuccesAccept
        </h5>
    </div>
}
else if (Model.SuccesDecline != null)
{
    <div class="bg-success">
        <h5>
            @Model.SuccesDecline
        </h5>
    </div>
}

<table class="table table-bordered table-striped">
    <thead class="table-primary">
    <th></th>
    <th>Request ID</th>
    <th>Request message</th>
    <th></th>
    <th></th>
    </thead>

    <tbody>
        @foreach (Request requests in Model.liste)
        {
            <tr>
                <td>
                @if (Model.GetPicture(requests.UserId) == null)
                {
                    <img src="/Images/emptyprofile.png" alt="profilepic" height="80" width="80" class="rounded-circle">
                }
                else
                {
                    String file = "data:image/jpeg;base64," + Convert.ToBase64String(Model.GetPicture(requests.UserId).Picture1);
                    <img src="@file" alt="profilepic" height="80" width="80" class="rounded-circle">
                }
                </td>
                <td>@requests.RequestId</td>
                <td>@requests.Message</td>
                <td>
                    <form method="post">
                        <button type="submit" asp-page-handler="Accept" asp-route-UserID="@requests.UserId" asp-route-RouteID="@requests.RouteId" asp-route-RequestID="@requests.RequestId"
                                class="btn btn-success btn-group-lg pull-right">
                            Accept
                        </button>
                    </form>
                </td>
                <td>
                    <form method="post">
                        <button type="submit" asp-page-handler="Decline" asp-route-RequestID="@requests.RequestId"
                                class="btn btn-danger btn-group-lg pull-right">
                            Decline
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
