@page
@using _2._semesterprojekttest.Models
@model _2._semesterprojekttest.Pages.DummyReportPageModel
@{
}

<head>
    <style>
        .center {
            text-align: center;
            background-color: green;
            color: #ffffff;
        }


        tr:nth-child(top) {
         background-color: #fff387;
     }

        .hoverrow:hover {
            background: #fff387;
        }

        .table td, th {
            padding: 0 !important;
            text-align: center;
            vertical-align: middle !important;
        }

        td a {
            display: block;
            width: 100%;
        }

        .table td, th {
            margin: 0 !important;
            text-align: center !important;
        }
    </style>
</head>


@if (Model.Reportstatus != null)
    {
        <div class="center">
            <h5>
                @Model.Reportstatus
            </h5>
        </div>
    }
    <div class="text-center">
        <h1 class="display-4">Users</h1>
        <table class="table table-bordered">
            <thead class="table-primary">
            <th></th>
            <th>First Name</th>
            <th>Last Name</th>
            </thead>
            <tbody>
                @foreach (CruizeUser user in Model._listeUsers)
                {
                    if (user.UserId != Model.userID && user.Email != "admin@easj.dk")
                    {
                        <tr class="hoverrow">
                            <td><a asp-page="ReportUser" asp-route-id="@user.UserId">
    @if (Model.GetPicture(user.UserId) == null)
    {
        <img src="/Images/emptyprofile.png" alt="profilepic" height="50" width="50" class="rounded-circle">
    }
    else
    {
        String file = "data:image/jpeg;base64," + Convert.ToBase64String(Model.GetPicture(user.UserId).Picture1);
        <img src="@file" alt="profilepic" height="50" width="50" class="rounded-circle">
    }
                            </a></td>
                            <td><a asp-page="ReportUser" asp-route-id="@user.UserId">@user.FirstName</a></td>
                            <td><a asp-page="ReportUser" asp-route-id="@user.UserId">@user.LastName</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

