@page
@model _2._semesterprojekttest.Pages.ProfilePageModel
@{
}

<div class="ProfilePagerow">
    <div class="ProfilePagecolumn">
        @if (Model.ProfilePicture == null)
        {
            <a class="rounded-circle" asp-area="" asp-page="/ImageUploadTEST" asp-route-picID="1"><img src="/Images/emptyprofile.png" alt="profilepic" height="80" width="80" class="rounded-circle"></a>
        }
        else
        {
            String file = "data:image/jpeg;base64," + Convert.ToBase64String(Model.ProfilePicture.Picture1);
            <a class="rounded-circle" asp-area="" asp-page="/ImageUploadTEST" asp-route-picID="1"><img src="@file" alt="profilepic" height="80" width="80" class="rounded-circle"></a>

        }
        <table class="ProfilePageTable">
            <tr class="ProfilePageTR">
                <th class="ProfilePageth">BrugerInfo</th>
            </tr>
            <tr class="ProfilePageTR">
                <td>First Name: @Model.User.FirstName</td>
            </tr>
            <tr class="ProfilePageTR">
                <td>Last Name: @Model.User.LastName</td>
            </tr>
            <tr class="ProfilePageTR">
                <td>Email: @Model.User.Email</td>
            </tr>
            <tr class="ProfilePageTR">
                <td> Your Address: @Model.User.Address</td>
            </tr>
        </table>
        <a asp-page="/MyRoutes" class="btn btn-dark btn-group-lg pull-right">
            My Routes
        </a>
        <form method="post">
            <button asp-page-handler="LogOut"
                    class="btn btn-dark btn-group-lg pull-right">
                Log out
            </button>
        </form>
    </div>
    <div class="ProfilePagecolumn">
        @if (Model.validDriver == 0)
        {
            <br />
            <br />
            <br />
            <h3>Recently got a car? Become a driver today!</h3>
            <form method="post">
                <button asp-page-handler="AddDriver"
                        class="btn btn-dark btn-group-lg pull-right">
                    Add Driver Status
                </button>
            </form>
        }
        else if (Model.validDriver == 1)
        {
            @if (Model.CarPicture == null)
            {
                <a class="rounded-circle" asp-area="" asp-page="/ImageUploadTEST" asp-route-picID="0"><img src="/Images/emptyprofile.png" alt="carpic" height="80" width="80" class="rounded-circle"></a>
            }
            else
            {
                String file = "data:image/jpeg;base64," + Convert.ToBase64String(Model.CarPicture.Picture1);
                <a class="rounded-circle" asp-area="" asp-page="/ImageUploadTEST" asp-route-picID="0"><img src="@file" alt="carpic" height="80" width="80" class="rounded-circle"></a>

            }
            <table class="ProfilePageTable">
                <tr class="ProfilePageTR">
                    <th class="ProfilePageth">Driver</th>
                </tr>
                <tr class="ProfilePageTR">
                    <td>Fares Until Next Coupon: @(10 - Model.CruizeDriver.CouponCount)</td>
                </tr>
                <tr class="ProfilePageTR">
                    <td>Coupons Available: @Model.GetCouponCount()</td>
                </tr>
            </table>
            <form method="post">
                <button asp-page-handler="RemoveDriver" 
                        class="btn btn-dark btn-group-lg pull-right" onclick="return confirm('Are you sure you want to remove your status as a driver? This will delete your current coupon count.')">
                    Remove Driver Status
                </button>
            </form>
        }
    </div>
</div>