@page
@model _2._semesterprojekttest.Pages.RouteModel
@{
}
<h1>@Model.RouteProperty.UserId</h1>
<h2>@Model.RouteProperty.Start</h2>
<h2>@Model.RouteProperty.Goal</h2>
<h2>@Model.RouteProperty.Arrival</h2>
<h2>@Model.RouteProperty.Day</h2>
<h2>@Model.RouteProperty.Space</h2>

<form method="post">
    <input name="RequestMessage" type="text" class="form-control input-lg" required autofocus />
    <button type="submit" asp-page-handler="Request" asp-route-UserID="@Model.RouteProperty.UserId" asp-route-RouteID="@Model.RouteProperty.RouteId"
            class="btn btn-dark btn-group-lg pull-right">
        Request
    </button>
</form>