@page
@using _2._semesterprojekttest.Models
@model _2._semesterprojekttest.Pages.RouteModel
@{
}

@if (Model.SuccesApply != null)
{
    <div class="bg-success">
        <h5>
            @Model.SuccesApply
        </h5>
    </div>
}

<table class="ProfilePageTR">
    <thead class="table-primary">
        <tr>
            <th>Route Information</th>
        </tr>
    </thead>
    <tr class="ProfilePageTR">
        <td>User ID(skal ændres til driver name): @Model.RouteProperty.UserId</td>
    </tr>
    <tr class="ProfilePageTR">
        <td>Start Point: @Model.RouteProperty.Start</td>
    </tr>
    <tr class="ProfilePageTR">
        <td>End Point: @Model.RouteProperty.Goal</td>
    </tr>
    <tr class="ProfilePageTR">
        <td>Arrival Time: @Model.RouteProperty.Arrival</td>
    </tr>
    <tr class="ProfilePageTR">
        <td>Day: @Model.RouteProperty.Day</td>
    </tr>
    <tr class="ProfilePageTR">
        <td>Seats left: @Model.RouteProperty.Space</td>
    </tr>
</table>
<br />

@if (Model.userID != Model.RouteProperty.UserId && !Model.RequestCheck)
{
    <h5>Write a message to the driver:</h5>
    <form method="post">
        <input name="RequestMessage" type="text" class="form-control input-lg" required autofocus />
        <button type="submit" asp-page-handler="Request" asp-route-UserID="@Model.RouteProperty.UserId" asp-route-RouteID="@Model.RouteProperty.RouteId"
                class="btn btn-dark btn-group-lg pull-right">
            Request to join
        </button>
    </form>
}
else if (Model.userID == Model.RouteProperty.UserId)
{
    <h2>OPDATER RUTE MÅSKE??</h2>
    <br/>
    <table class="table table-bordered table-striped">
        <thead class="table-primary">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Adress and Zipcode</th>
        <th></th>
        </thead>

        <tbody>
            @foreach (CruizeUser passenger in Model.Passengers)
            {
                <tr>
                    <td>@passenger.FirstName</td>
                    <td>@passenger.LastName</td>
                    <td>@passenger.Email</td>
                    <td>@passenger.Address @passenger.Zipcode</td>
                <td><form method="post"><button asp-page-handler="RemovePassenger" asp-route-id="@passenger.UserId" asp-route-routeid="@Model.RouteProperty.RouteId" class="btn btn-dark btn-group-lg">Remove Passenger</button></form></td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.RequestCheck)
            {
                <h3>Request application pending...</h3>
            }