@page
@using _2._semesterprojekttest.Models
@model _2._semesterprojekttest.Pages.StatisticsModel
@{
}

@if (Model.liste != null && Model.liste.Count > 0)
{<h5>Number of users : @Model.liste.Count</h5>}
else
{ <h5>Number of users : 0</h5>}

<form>
    <p>
        Filter users by zipcode: <input type="text" asp-for="Filter" />
        <input type="submit" value="Filter" />
    </p>
</form>

@foreach (CruizeUser users in Model.liste)
{
    <h1>User ID: @users.UserId</h1>
    <h4>First Name: @users.FirstName</h4>
    <h4>Last Name:@users.LastName</h4>
    <h4>Email: @users.Email</h4>
    <h4>Address: @users.Address</h4>
    <h4>Zipcode: @users.Zipcode</h4>
    <br />
}