@page
@using _2._semesterprojekttest.Models
@model _2._semesterprojekttest.Pages.StatisticsModel
@{
}

<style>
    body {
        margin-bottom: 60px;
    }
</style>

@if (Model.liste != null && Model.liste.Count > 0)
{<h5>Number of users : @Model.liste.Count</h5>}
else
{ <h5>Number of users : 0</h5> }

<form>
    <p>
        Filter users by zipcode: <input type="text" asp-for="Filter" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table table-bordered table-striped">
    <thead class="table-primary">
    <th>User ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Address</th>
    <th>Zipcode</th>
    </thead>

    <tbody>
        @foreach (CruizeUser users in Model.liste)
        {
            if (users.Email != "admin@easj.dk")
            {
                <tr>
                    <td>@users.UserId</td>
                    <td>@users.FirstName @users.LastName</td>
                    <td>@users.Email</td>
                    <td>@users.Address</td>
                    <td>@users.Zipcode</td>
                </tr>
            }
        }
    </tbody>
</table>